/* h1 {
    display: flex;
    text-align: center;
} */

.UserProfile {
    display: grid;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colonnes égales */
    grid-template-rows: repeat(3, auto);
    /* 2 lignes égales */
    gap: 20px;
    /* Espace entre les items */
    width: 100%;
    max-width: 1200px;
    /* Limite la largeur maximale */
}

.userName {
    color: red;
}

.gridUserInfos {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.gridUserInfos h2 {

font-weight: 400;
font-size: 18px;
line-height: 24px;
letter-spacing: 0px;
}

.gridKeyData {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
}

.gridActivity {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}



.gridAverageSessions {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.gridPerformance {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.gridScore {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}