.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .topHeader {
    height: 91px;
    background-color: #020203;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .topHeader img {
    height: 60px;
  }
  
  .mainContent {
    display: flex;
    flex: 1;
  }

   .sideNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem 0;
    width: 90px; /* ou la largeur de ta sidebar */
  }
  
  .navWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navImage {
    max-height: 300px; /* adapte si nécessaire */
  }
  
  .copyRight {
    font-size: 12px;
    color: white;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-bottom: 1rem;
  }
  
  .pageContent {
    flex: 1;
    padding: 80px;
    background-color: #f5f5f5;
  }

  .topNav {
    flex: 1;
  }
  
  .menu {
    list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around; /* <- Répartit les éléments uniformément */
  width: 100%;
  font-size: 24px;
  }
  
  .menu li {
    margin-right: 20px;
  }

  .nav {
    width: 40px;
    height: 40px;
  }